.review-img-container {
  display: flex;
  margin: 4rem 0;
}

.review-img {
  width: 248px;
  height: 248px;
  border: 2px solid #16a085;
  border-radius: 5px;
  margin: 0 25px;
  align-items: center;
  display: flex;
}

.image {
  width: 100%;
  max-width: 248px;
}
