.button {
  border-radius: 2px;
  /* width: 62vw; */
  height: 10vh;
  border: 0;
  cursor: pointer;
  background-color: #1656a0;
  color: white;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  /* letter-spacing: 0.5px; */
  /* font-weight: bold; */
  font-size: large;
  margin: 0.5%;
  width: 32%;
}

.small-button {
  border-radius: 2px;
  width: 20vw;
  height: 7vh;
  border: 0;
  cursor: pointer;
  background-color: #1656a0;
  color: white;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;

  /* font-weight: bold; */
  font-size: large;
  margin: 0.5%;
}

.trans-button {
  background-color: #fff;
  border: 2px solid #1656a0;
  color: #1656a0;
}
