.common-label {
  color: #1656a0;
  font-family: 'Roboto', sans-serif;
}

.label1 {
  font-size: 36px;
  font-weight: 400;
  margin: 12px 0;
  @media screen and (max-width: 600px) {
    font-size: 24px;
  }
}

.label2 {
  font-size: 23px;
  font-weight: 300;
  font-style: italic;
}
