.finger-animation {
  position: fixed;
  margin-top: 176px;
  margin-left: 355px;
}

.finger-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  vertical-align: center;
}

#finger-review {
  width: 50%;
  justify-content: space-around;
}
